/* your custom css */
body {
    font-family: "Poppins";
}
.fixedHeaderContainer {
    background-color: #24292e;
}
.navigationSlider .slidingNav ul li a {
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 4px;
    padding: 8px 16px;
}

.headerTitle {
    font-family: "Leckerli One";
    font-weight: 100;
    line-height: 1.50;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}